/* .cardImage {
    width: 375px;
    height: 580px;
} */

.resultsContainer {
    width: 75%;
    background-color: white;
    min-height: 80vh;
    z-index:41;
    padding: 2rem;
    overflow: auto;
}