/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body {
    min-height: 100vh;
}

#__next {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

}

.loaderWrapper {
    height: 100%;
    width: 100%;
    background: #fff;
    opacity: 1;
    z-index: 1;
    transition: opacity .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    min-height: 50vh;
}

.loaderWrapper .loader {
    height: 80px;
    width: 80px;
}
